APP_DEBUG = false
APP_TRACE = false

[database]
TYPE = mysql
HOSTNAME = 127.0.0.1
DATABASE = chemical_management
USERNAME = root
PASSWORD = root
HOSTPORT = 3306
CHARSET = utf8mb4
PREFIX =

[session]
SESSION_TYPE = file
SESSION_PREFIX = chemical

[cache]
CACHE_TYPE = file
CACHE_PATH = runtime/cache/
