{extend name="public/layout" /}
{block name="content-header"}
<div class="row mb-2">
    <div class="col-sm-6">
        <h1 class="m-0">编辑联系人</h1>
    </div>
    <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="{:url('admin/index/index')}">首页</a></li>
            <li class="breadcrumb-item"><a href="{:url('index')}">联系人管理</a></li>
            <li class="breadcrumb-item active">编辑联系人</li>
        </ol>
    </div>
</div>
{/block}

{block name="content"}
<div class="card">
    <div class="card-header">
        <h3 class="card-title">联系人信息</h3>
    </div>
    <div class="card-body">
        <form id="form" method="POST" class="form-horizontal">
            <input type="hidden" name="id" value="{$info.id}">
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">姓名 <span class="text-danger">*</span></label>
                <div class="col-sm-4">
                    <input type="text" name="name" class="form-control" value="{$info.name}" required>
                </div>
                <label class="col-sm-2 col-form-label">电话 <span class="text-danger">*</span></label>
                <div class="col-sm-4">
                    <input type="text" name="phone" class="form-control" value="{$info.phone}" required>
                </div>
            </div>
            
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">所属客户 <span class="text-danger">*</span></label>
                <div class="col-sm-4">
                    <select name="customer_id" class="form-control" required>
                        <option value="">请选择客户</option>
                        {volist name="customers" id="customer"}
                        <option value="{$customer.id}" {if condition="$info.customer_id == $customer.id"}selected{/if}>{$customer.customer_name}</option>
                        {/volist}
                    </select>
                </div>
                <label class="col-sm-2 col-form-label">职位</label>
                <div class="col-sm-4">
                    <input type="text" name="position" class="form-control" value="{$info.position}">
                </div>
            </div>
            
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">邮箱</label>
                <div class="col-sm-4">
                    <input type="email" name="email" class="form-control" value="{$info.email}">
                </div>
                <label class="col-sm-2 col-form-label">状态</label>
                <div class="col-sm-4">
                    <select name="status" class="form-control">
                        <option value="1" {if condition="$info.status == 1"}selected{/if}>正常</option>
                        <option value="2" {if condition="$info.status == 2"}selected{/if}>离职</option>
                    </select>
                </div>
            </div>
            
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">备注</label>
                <div class="col-sm-10">
                    <textarea name="remark" class="form-control" rows="3">{$info.remark}</textarea>
                </div>
            </div>
            
            <div class="form-group row">
                <div class="col-sm-10 offset-sm-2">
                    <button type="submit" class="btn btn-primary">
                        <i class="fas fa-save"></i> 保存
                    </button>
                    <a href="{:url('index')}" class="btn btn-default ml-2">
                        <i class="fas fa-arrow-left"></i> 返回
                    </a>
                </div>
            </div>
        </form>
    </div>
</div>
{/block}

{block name="script"}
<script>
$(function() {
    $('#form').on('submit', function(e) {
        e.preventDefault();
        $.post('{:url("edit")}', $(this).serialize(), function(res) {
            if (res.code === 1) {
                alert(res.msg);
                window.location.href = res.url;
            } else {
                alert(res.msg);
            }
        }, 'json');
    });
});
</script>
{/block}
